# Scraping Boxofficemojo

### Scraping studio links

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
import time

response = requests.get('https://www.boxofficemojo.com/studio/')
html = response.text
soup = bs(html,'lxml')

table_node = soup.find_all('table', attrs = {'border': '0', 'cellspacing': '1', 'cellpadding': '5'})
link_nodes = soup.find_all('a', href = True)
studios = []
for link in link_nodes:
    if '/studio/chart/' in link['href']:
        studios.append(link['href'].split('&studio=')[1].split('.htm')[0])

### Function for scraping a studio's movies

In [2]:
def get_movies(studio):
    i = 1
    while True:
        tables = pd.read_html('https://www.boxofficemojo.com/studio/chart/?page=' + str(i) + '&yr=&view=company&view2=allmovies&studio=' + studio + '.htm&p=.htm', header = 0)
        if len(tables) == 2: break
        dfs = tables[1]
        dfs.drop(dfs.tail(4).index, inplace = True)
        dfs.columns = ['boRank', 'title', 'studioAcronym', 'boWorldwide', 'totalTheaters', 'boOpening', 'openingTheaters', 'openDate'] 
        if i == 1:
            dfn = dfs.copy()
        else:
            dfn = dfn.append(dfs) 
        i += 1
        time.sleep(1)
    try:
        return dfn
    except:
        return None

### Scraping all movies

In [3]:
i = 1
for studio in studios:
    if i == 1:
        dff = get_movies(studio)
    else:
        try:
            dff = dff.append(get_movies(studio))
        except:
            pass
    print(i)
    i += 1
    time.sleep(1)
dff

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129

,boRank,title,studioAcronym,boWorldwide,totalTheaters,boOpening,openingTheaters,openDate
0,1,Star Wars: The Force Awakens,BV,"$936,662,225",4134,"$247,966,675",4134,12/18/15
1,2,Avengers: Endgame,BV,"$858,177,594",4662,"$357,115,007",4662,4/26/19
2,3,Black Panther,BV,"$700,059,566",4084,"$202,003,951",4020,2/16/18
3,4,Avengers: Infinity War,BV,"$678,815,482",4474,"$257,698,183",4474,4/27/18
4,5,Marvel's The Avengers,BV,"$623,357,910",4349,"$207,438,708",4349,5/4/12
5,6,Star Wars: The Last Jedi,BV,"$620,181,382",4232,"$220,009,584",4232,12/15/17
6,7,Incredibles 2,BV,"$608,581,744",4410,"$182,687,905",4410,6/15/18
7,8,Rogue One: A Star Wars Story,BV,"$532,177,324",4157,"$155,081,681",4157,12/16/16
8,9,Beauty and the Beast (2017),BV,"$504,014,165",4210,"$174,750,616",4210,3/17/17
9,10,The Lion King (2019),BV,"$501,335,434",4802,"$191,770,759",4725,7/19/19
10,11,Finding Dory,BV,"$486,295,561",4305,"$135,060,273",4305,6/17/16
11,12,Avengers: Age of Ultron,BV,"$459,005,868",4276,"$191,271,109",4276,5/1/15
12,13,Captain Marvel,BV,"$426,829,839",4310,"$153,433,423",4310,3/8/19
13,14,Toy Story 4,BV,"$425,286,221",4575,"$120,908,065",4575,6/21/19
14,15,Pirates of the Caribbean: Dead Man's Chest,BV,"$423,315,812",4133,"$135,634,554",4133,7/7/06
15,16,Toy Story 3,BV,"$415,004,880",4028,"$110,307,189",4028,6/18/10
16,17,Iron Man 3,BV,"$409,013,994",4253,"$174,144,585",4253,5/3/13
17,18,Captain America: Civil War,BV,"$408,084,349",4226,"$179,139,142",4226,5/6/16
18,19,Frozen,BV,"$400,738,009",3742,"$243,390",1,11/22/13
19,20,Guardians of the Galaxy Vol. 2,BV,"$389,813,101",4347,"$146,510,104",4347,5/5/17
20,21,The Jungle Book (2016),BV,"$364,001,123",4144,"$103,261,464",4028,4/15/16
21,22,Inside Out,BV,"$356,461,711",4158,"$90,440,272",3946,6/19/15
22,23,Aladdin (2019),BV,"$353,631,744",4476,"$91,500,929",4476,5/24/19
23,24,Zootopia,BV,"$341,268,248",3959,"$75,063,401",3827,3/4/16
24,25,Finding Nemo,BV,"$339,714,978",3425,"$70,251,710",3374,5/30/03
25,26,Alice in Wonderland (2010),BV,"$334,191,110",3739,"$116,101,023",3728,3/5/10
26,27,Guardians of the Galaxy,BV,"$333,176,600",4088,"$94,320,883",4080,8/1/14
27,28,Thor: Ragnarok,BV,"$315,058,289",4080,"$122,744,989",4080,11/3/17
28,29,The Lion King,BV,"$312,855,561",2624,"$1,586,753",2,6/15/94
29,30,Pirates of the Caribbean: At World's End,BV,"$309,420,425",4362,"$114,732,820",4362,5/25/07
...,...,...,...,...,...,...,...,...
11,12,OPA!,Cdgm.,"$52,453",221,"$52,453",221,10/16/09
12,13,Dead Man's Burden,Cdgm.,"$29,634",3,"$7,620",1,5/3/13
13,14,Our Nixon,Cdgm.,"$20,584",5,"$6,090",3,8/30/13
14,15,Violet & Daisy,Cdgm.,"$17,186",17,"$9,982",17,6/7/13
15,16,April Showers,Cdgm.,"$16,880",18,"$8,040",18,4/24/09
16,17,Citadel,Cdgm.,"$13,377",7,"$5,715",1,11/9/12
17,18,Class Rank,Cdgm.,"$10,452",14,NaN,NaN,5/11/18
18,19,River Runs Red,Cdgm.,"$9,893",20,"$6,349",20,11/9/18
19,20,Call Me Kuchu,Cdgm.,"$9,124",1,"$3,476",1,6/14/13
20,21,In Our Nature,Cdgm.,"$6,543",1,"$4,378",1,12/7/12
21,22,Sgt. Will Gardner,Cdgm.,"$4,405",12,NaN,NaN,1/11/19
22,23,American Dresser,Cdgm.,"$3,895",11,"$2,211",11,9/21/18
23,24,Followers,Cdgm.,"$3,350",10,NaN,NaN,3/23/18
24,25,Come Out and Play,Cdgm.,"$2,638",10,"$1,600",10,3/22/13
25,26,Pool Boys,Cdgm.,"$2,269",101,NaN,NaN,9/30/11
26,27,Open Windows,Cdgm.,"$1,750",NaN,NaN,NaN,11/7/14
27,28,Altered Perception,Cdgm.,"$1,259",10,NaN,NaN,5/4/18
28,29,Absence,Cdgm.,"$1,031",NaN,NaN,NaN,7/5/13
0,1,The Tiger Hunter,Shout!,"$62,398",42,NaN,42,9/22/17
1,2,Humor Me,Shout!,"$40,099",5,"$3,342",1,1/12/18
2,3,The House of Tomorrow,Shout!,"$35,821",8,"$6,652",8,4/27/18
3,4,Izzy Gets the Fuck Across Town,Shout!,"$20,208",15,"$10,559",15,6/22/18
4,5,Tito and the Birds,Shout!,"$4,332",6,NaN,NaN,1/25/19
5,6,Thunder and the House of Magic!,Shout!,"$4,091",10,"$4,091",10,9/5/14
6,7,Postman Pat: The Movie,Shout!,"$1,519",2,"$1,254",2,6/27/14
0,1,The Bride & The Grooms,Smb.,"$5,995",15,"$5,483",15,4/24/09
1,2,Mother of a Day,Smb.,"$3,919",1,"$2,672",1,5/4/19
0,1,Vision Portraits,Stimulus,"$3,461",1,NaN,NaN,8/9/19
0,1,Sgt. Stubby: An American Hero,FunAcad,"$4,015,935",1633,"$1,164,403",1633,4/13/18
1,2,Nana,FunAcad,"$2,784",1,"$1,240",1,4/13/18

### Structuring data

In [33]:
dff = pd.read_pickle('bom_new_raw.pkl')

In [34]:
def convert_year(string):
    try:
        string = string.split('/')[2]
        if string[0] in '23456789':
            return int('19' + string)
        else:
            return int('20' + string)
    except:
        return None
    
def numerize_money(string):
    if isinstance(string, str):
        try:
            return int(float(string.replace('$', '').replace(',', '')))
        except:
            return None
    else:
        return None


dff['boOpening'] = dff['boOpening'].apply(numerize_money)
dff['boWorldwide'] = dff['boWorldwide'].apply(numerize_money)
dff['year'] = dff['openDate'].apply(convert_year)
dff['year'] = dff['openDate'].apply(convert_year)
dff = dff.drop('openDate', axis = 1)

dff.to_pickle('bom_clean.pkl')

In [35]:
dff

,boRank,title,studioAcronym,boWorldwide,totalTheaters,boOpening,openingTheaters,year
0,1,Star Wars: The Force Awakens,BV,936662225,4134,247966675.0,4134,2015.0
1,2,Avengers: Endgame,BV,858177594,4662,357115007.0,4662,2019.0
2,3,Black Panther,BV,700059566,4084,202003951.0,4020,2018.0
3,4,Avengers: Infinity War,BV,678815482,4474,257698183.0,4474,2018.0
4,5,Marvel's The Avengers,BV,623357910,4349,207438708.0,4349,2012.0
5,6,Star Wars: The Last Jedi,BV,620181382,4232,220009584.0,4232,2017.0
6,7,Incredibles 2,BV,608581744,4410,182687905.0,4410,2018.0
7,8,Rogue One: A Star Wars Story,BV,532177324,4157,155081681.0,4157,2016.0
8,9,Beauty and the Beast (2017),BV,504014165,4210,174750616.0,4210,2017.0
9,10,The Lion King (2019),BV,501335434,4802,191770759.0,4725,2019.0
10,11,Finding Dory,BV,486295561,4305,135060273.0,4305,2016.0
11,12,Avengers: Age of Ultron,BV,459005868,4276,191271109.0,4276,2015.0
12,13,Captain Marvel,BV,426829839,4310,153433423.0,4310,2019.0
13,14,Toy Story 4,BV,425286221,4575,120908065.0,4575,2019.0
14,15,Pirates of the Caribbean: Dead Man's Chest,BV,423315812,4133,135634554.0,4133,2006.0
15,16,Toy Story 3,BV,415004880,4028,110307189.0,4028,2010.0
16,17,Iron Man 3,BV,409013994,4253,174144585.0,4253,2013.0
17,18,Captain America: Civil War,BV,408084349,4226,179139142.0,4226,2016.0
18,19,Frozen,BV,400738009,3742,243390.0,1,2013.0
19,20,Guardians of the Galaxy Vol. 2,BV,389813101,4347,146510104.0,4347,2017.0
20,21,The Jungle Book (2016),BV,364001123,4144,103261464.0,4028,2016.0
21,22,Inside Out,BV,356461711,4158,90440272.0,3946,2015.0
22,23,Aladdin (2019),BV,353631744,4476,91500929.0,4476,2019.0
23,24,Zootopia,BV,341268248,3959,75063401.0,3827,2016.0
24,25,Finding Nemo,BV,339714978,3425,70251710.0,3374,2003.0
25,26,Alice in Wonderland (2010),BV,334191110,3739,116101023.0,3728,2010.0
26,27,Guardians of the Galaxy,BV,333176600,4088,94320883.0,4080,2014.0
27,28,Thor: Ragnarok,BV,315058289,4080,122744989.0,4080,2017.0
28,29,The Lion King,BV,312855561,2624,1586753.0,2,1994.0
29,30,Pirates of the Caribbean: At World's End,BV,309420425,4362,114732820.0,4362,2007.0
...,...,...,...,...,...,...,...,...
11,12,OPA!,Cdgm.,52453,221,52453.0,221,2009.0
12,13,Dead Man's Burden,Cdgm.,29634,3,7620.0,1,2013.0
13,14,Our Nixon,Cdgm.,20584,5,6090.0,3,2013.0
14,15,Violet & Daisy,Cdgm.,17186,17,9982.0,17,2013.0
15,16,April Showers,Cdgm.,16880,18,8040.0,18,2009.0
16,17,Citadel,Cdgm.,13377,7,5715.0,1,2012.0
17,18,Class Rank,Cdgm.,10452,14,NaN,NaN,2018.0
18,19,River Runs Red,Cdgm.,9893,20,6349.0,20,2018.0
19,20,Call Me Kuchu,Cdgm.,9124,1,3476.0,1,2013.0
20,21,In Our Nature,Cdgm.,6543,1,4378.0,1,2012.0
21,22,Sgt. Will Gardner,Cdgm.,4405,12,NaN,NaN,2019.0
22,23,American Dresser,Cdgm.,3895,11,2211.0,11,2018.0
23,24,Followers,Cdgm.,3350,10,NaN,NaN,2018.0
24,25,Come Out and Play,Cdgm.,2638,10,1600.0,10,2013.0
25,26,Pool Boys,Cdgm.,2269,101,NaN,NaN,2011.0
26,27,Open Windows,Cdgm.,1750,NaN,NaN,NaN,2014.0
27,28,Altered Perception,Cdgm.,1259,10,NaN,NaN,2018.0
28,29,Absence,Cdgm.,1031,NaN,NaN,NaN,2013.0
0,1,The Tiger Hunter,Shout!,62398,42,NaN,42,2017.0
1,2,Humor Me,Shout!,40099,5,3342.0,1,2018.0
2,3,The House of Tomorrow,Shout!,35821,8,6652.0,8,2018.0
3,4,Izzy Gets the Fuck Across Town,Shout!,20208,15,10559.0,15,2018.0
4,5,Tito and the Birds,Shout!,4332,6,NaN,NaN,2019.0
5,6,Thunder and the House of Magic!,Shout!,4091,10,4091.0,10,2014.0
6,7,Postman Pat: The Movie,Shout!,1519,2,1254.0,2,2014.0
0,1,The Bride & The Grooms,Smb.,5995,15,5483.0,15,2009.0
1,2,Mother of a Day,Smb.,3919,1,2672.0,1,2019.0
0,1,Vision Portraits,Stimulus,3461,1,NaN,NaN,2019.0
0,1,Sgt. Stubby: An American Hero,FunAcad,4015935,1633,1164403.0,1633,2018.0
1,2,Nana,FunAcad,2784,1,1240.0,1,2018.0